@import "colors";
@import "fonts";

.button {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 4px 40px 10px;
    color: $color-white;
    letter-spacing: 0;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &.primary {
        background: $color-purple-1;
    }

    &.slim {
        border: 1px solid $color-gray-2;
        color: $color-purple-1;
    }

    &.is-small {
        font-size: .9rem;
        line-height: .9rem;
        padding: 4px 10px 8px;
    }

    &:hover {
        opacity: .8;
    }
}
