$color-purple-1: #964CAE;
$color-purple-2: #B49ABC;
$color-blue-1: #008FBA;
$color-blue-2: #649DAE;
$color-gray-1: #5E5E5E;
$color-gray-2: #B3B3B3;
$color-gray-3: #F2F2F2;
$color-gray-4: #ebebeb;
$color-green: #A2E918;
$color-white: #FFFFFF;
$color-red: #FF3333;
