/* ------------------------------------------------------------------------------------------------------------
* Colors
*------------------------------------------------------------------------------------------------------------*/

$color-blue: #F4F7FE;
$color-white: #FFFFFF;
$color-gray: #333333;
$color-gray-2: #BBBBBB;
$color-blue-2: #D2D8E7;
$color-blue-3: #BFCCE5;
$color-blue-4: #319ecf;
$color-green: #5AE329;
