/* ------------------------------------------------------------------------------------------------------------
* Fonts
*------------------------------------------------------------------------------------------------------------*/

$font-dir: "../../../static/fonts/";

@mixin font-face($font-label, $font-path, $font-name, $style: normal, $weight: normal) {
    @font-face {
        font-family: $font-label;
        src:url($font-path + $font-name + ".woff2") format("woff2"),
            url($font-path + $font-name + ".woff") format("woff"),
            url($font-path + $font-name + ".ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Segoe UI", $font-dir, "SegoeUI", "normal", "normal");
@include font-face("Segoe UI Bold", $font-dir, "SegoeUIBold", "normal", "bold");

/* ------------------------------------------------------------------------------------------------------------
* Define main font styles
*------------------------------------------------------------------------------------------------------------*/

.segoe_ui {
    font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.segoe_ui_bold {
    font-family: "Segoe UI Bold", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
