$sizes: (0, 10, 15, 20, 25, 30, 50);
$positions: ('top', 'left', 'bottom', 'right');

@each $size in $sizes {
    .mg-#{$size} {
        margin: $size + px;
    }
    .pd-#{$size} {
        padding: $size + px;
    }
}
