/* ------------------------------------------------------------------------------------------------------------
* Icons
*------------------------------------------------------------------------------------------------------------*/

.icon-user {
    background: url("../../assets/images/icons/icon-user.svg") no-repeat;
}

.icon-file {
    background: url("../../assets/images/icons/icon-file.svg") no-repeat center left;
}

.icon-settings {
    background: url("../../assets/images/icons/icon-settings.svg") no-repeat;
}

.icon-add {
    background: url("../../assets/images/icons/icon-add.svg") no-repeat;
}

.icon-share-file {
    background: url("../../assets/images/icons/icon-share-file.svg") no-repeat;
}

.icon-download-file {
    background: url("../../assets/images/icons/icon-download-file.svg") no-repeat;
}

.icon-delete-file {
    background: url("../../assets/images/icons/icon-delete-file.svg") no-repeat;
}

.icon-chat {
    background: url("../../assets/images/icons/icon-chat.svg") no-repeat;
}

.icon-loading {
    background: url("../../assets/images/icons/icon-loading.svg") no-repeat;
}

div[class^="icon-"], div[class*=" icon-"] {
    content: '';
    width: 40px;
    height: 30px;
    image-rendering: crisp-edges;
}
