.sub-menu {
    height: 60px;

    li {
        color: $color-blue-3;
        padding: 10px 0;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4rem;

        &.active {
            color: $color-gray;
        }
    }
}

li.separator {
    @include separator;
    position: relative;
    margin: 0 14px;

    &:before {
        left: 1px;
    }

    &:after {
        left: 0;
    }

    &:before, &:after {
        position: absolute;
        top: 4px;
        height: 20px;
    }
}
