@import './fonts';
@import './config';
@import './buttons';
@import './mixins';
@import 'overwrites';

*, *::after, *::before {
    -webkit-app-region: no-drag;
}

html, body, #app {
    height: 100%;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow: auto;
}

body {
    position: relative;
    font-size: 1.5rem;
    background: $color-gray-3;
    min-height: 100vh;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include segoe_ui;
}

.intro-background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:before {
        width: 200px;
        height: 200px;
        left: -60px;
        bottom: -80px;
        border-radius: 100%;
        background-image: linear-gradient(-120deg, #7d86c3 0%, #ac72c0 100%);
    }

    &:after {
        right: 0;
        width: 200px;
        height: 170px;
        bottom: -100px;
        background: url("../icons/icon-clouds.svg") no-repeat;
        background-size: 100%;
    }

    &:before, &:after {
        z-index: -1;
        content: '';
        position: fixed;
        transform: scale(1.4);
    }

    @include breakpoint-up(sm) {
        &:before {
            width: 733px;
            height: 733px;
            left: -300px;
            bottom: -300px;
        }
        &:after {
            right: 0px;
            width: 680px;
            height: 270px;
            bottom: -5px;
            background: url("../icons/icon-clouds.svg") no-repeat;
            background-size: 100%;
        }
    }
}

h1 {
    color: $color-blue-1;
    @include metric;
    font-size: 5rem;
}

@keyframes rotating {
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
    position: absolute;
    fill: $color-blue-1;
}

.text-link {
    display: block;
    text-decoration: none;
    color: $color-gray-1;

    &:hover {
        color: $color-blue-1;
    }
}

.inner-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 40px;

    @include breakpoint-up(sm) {
        padding: 0;
    }

    p {
        margin: 20px 0;
    }
}

.default-padding {
    padding: 40px;

    @include breakpoint-up(sm) {
        max-width: 600px;
    }

    h1 {
        text-align: center;
        @include font-size($xx-font-sizes);
    }

    .logo-wrapper {
        margin: 60px auto 0;
        position: relative;
        width: 180px;
        height: 260px;
        display: block;
    }

    .logo {
        left: 36px;
        position: absolute;
        width: 140px;
        border-radius: 100%;
        padding-top: 32px;
        text-align: center;
        fill: $color-blue-1;
    }
}
