@import './fonts';
@import './colors';

html, body, #app {
  height: 100%;
}

body {
  position: relative;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include segoe_ui;
}

.intro-background {
  position: relative;
  overflow: hidden;

  &:before {
    width: 733px;
    height: 733px;
    left: -300px;
    bottom: -300px;
    border-radius: 100%;
    background-image: linear-gradient(-120deg, #7d86c3 0%, #ac72c0 100%);
  }
  &:after {
    right: 0px;
    width: 680px;
    height: 270px;
    bottom: -5px;
    background: url("../icons/icon-clouds.svg") no-repeat;
    background-size: 100%;
  }
  &:before, &:after {
    content: '';
    position: absolute;
  }
}
