#proxy=http://qtp:qtp@hdxs8q.telecom.ptt.nl:8080/
#https-proxy=http://qtp:qtp@hdxs8q.telecom.ptt.nl:8080/
#registry=https://artifacts.kpn.org/api/npm/npm/
#cafile=./kpnroot.pem
#sass_binary_site=https://artifacts.kpn.org/github.com/sass/node-sass/releases/download
