@mixin separator {

    &:before {
        background: $color-white;
    }

    &:after {
        background: $color-blue-2;
    }

    &:before, &:after {
        content: '';
        width: 1px;
        z-index: 1;
    }

}
