body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    background-color: $color-blue;
}

html, body {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    height: 100%;
}

.content {
    margin-left: 330px;
    transition: all .3s ease-in-out;
    overflow: scroll;
}

.container {
    display: flex;
    height: 100%;
    overflow: scroll;
}

#app {
    height: 100%;
}

.content {
    flex: 1;
    height: 100%;
}

.wave-bg {
    background: url("./assets/wave-bg.svg") bottom center no-repeat;
}

.slide-left {
    transform: translate3d(-100px, 0, 0);
}

.page {
    height: 100%;
    background: url("./assets/corner-bg.svg") top right no-repeat;
}

.flex {
    display: flex;
}
